{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container my-3">
  <h4 class="my-4">Preferences</h4>
  {% include 'parts/_messages.html' %}

  <h5 class="my-4">Currencies</h5>
  <form action="{% url 'preferences' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <select name="currency" class="form-select" id="inputGroupSelect02">
        {% if userPreferences.currency %}
        <option name="currency" selected value="{{userPreferences.currency}}">
          {{userPreferences.currency}}
        </option>
        {% endif %} {% for currency in currencies %}
        <option
          name="currency"
          value="{{ currency.name }} -- {{ currency.value }}"
        >
          {{ currency.name }} -- {{ currency.value }}
        </option>
        {% endfor %}
      </select>
      <button
        class="btn btn-outline-secondary input-group-text"
        for="inputGroupSelect02"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>

<!-- Categorys and Resources  -->
<hr />

<div class="container">
  <h5 class="my-4">Categorys & Resources</h5>

  <div class="px-4 text-center">
    <div class="row gx-5">
      <div class="col">
        Expense categorys
        <form class="input-group mb-3 p-3" method="POST" action="{% url 'add-category' %}">
          {% csrf_token %}
          <input
            type="text"
            class="form-control"
            name="category"
            placeholder="Category name"
            aria-label="Category name"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="button-addon-categorys"
          >
            Add
          </button>
        </form>
        <div class="app-table">
          <div class="container">
            <table class="table table-stripped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for category in categorys%}
                <tr>
                  <td>{{category}}</td>
                  <td>
                    <a
                      href="{% url 'delete-category' category.id %}"
                      class="btn btn-secondary btn-sm"
                      >Delete</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col">
        Income sources
        <form class="input-group mb-3 p-3" method="POST" action="{% url 'add-source' %}">
          {% csrf_token %}
          <input
            type="text"
            class="form-control"
            name="source"
            placeholder="Source name"
            aria-label="Source name"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="button-addon-sources"
          >
            Add
          </button>
        </form>
        <div class="app-table">
          <div class="container">
            <table class="table table-stripped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for source in sources%}
                <tr>
                  <td>{{source}}</td>
                  <td>
                    <a
                      href="{% url 'delete-source' source.id %}"
                      class="btn btn-secondary btn-sm"
                      >Delete</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
