{% extends 'base.html' %} {% block content %}

<div class="container my-3">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'incomes' %}">My Incomes</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Edit Income
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <form action="{% url 'edit-income' income.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="number"
          class="form-control form-control-sm"
          name="amount"
          value="{{values.amount}}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control form-control-sm"
          name="description"
          value="{{values.description}}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="source">Source</label>
        <select class="form-control" name="source">
          {% for source in sources%}
          <option name="source" value="{{source.name}}">
            {{source.name}}
          </option>
          {% endfor %}
        </select>
      </div>
      <br />
      <div class="form-group">
        <label for="income_date">Date of Income</label>
        <input
          type="date"
          class="form-control form-control-sm"
          name="income_date"
          value="{{ date }}"
        />
      </div>
      <br />
      <input
        type="submit"
        value="Submit"
        class="btn btn-primary btn-primary-sm"
      />
    </form>
  </div>
</div>

{% endblock content %}
