{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container my-3">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="">Expense Summary</a></li>
            <li class="breadcrumb-item active"><a href="">Summary</a></li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'expenses'%}" class="btn btn-outline-success">Back</a>
    </div>

    <div class="my-canvas" style="width: 50%; height: 50%; display: block; margin-left: auto; margin-right: auto; align-items: center;">
      <canvas id="myChartExpenses"></canvas>
    </div>

  </div>
  <br />
</div>

<script src="{% static 'js/summaryExpenses.js' %}" ></script>

{% endblock content %}
